#define INCL_WIN
#include <os2.h>

#include "TEST.H"

ICON DLG_PRESPARAM TEST.ICO

DLGINCLUDE 1 "TEST.H"

DLGTEMPLATE DLG_PRESPARAM LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "Test Color Wheel", DLG_PRESPARAM, 85, 50, 320, 111, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR | FCF_MINBUTTON
    BEGIN
        CONTROL "", DLGITEM_WHEEL, 8, 8, 140, 90, "CanyonColorWheel", WS_GROUP |
                WS_VISIBLE
        CONTROL "Sample Color", 65535, 160, 8, 92, 94, WC_STATIC, SS_GROUPBOX |
                WS_GROUP | WS_VISIBLE
        CONTROL "Red", 65535, 170, 80, 32, 8, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "255", DLGITEM_RED, 220, 80, 18, 8, WC_STATIC, SS_TEXT |
                DT_RIGHT | DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "Green", 65535, 170, 68, 32, 8, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "255", DLGITEM_GREEN, 220, 68, 18, 8, WC_STATIC, SS_TEXT |
                DT_RIGHT | DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "Blue", 65535, 170, 57, 32, 8, WC_STATIC, SS_TEXT | DT_LEFT |
                DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "255", DLGITEM_BLUE, 220, 56, 18, 8, WC_STATIC, SS_TEXT |
                DT_RIGHT | DT_VCENTER | WS_GROUP | WS_VISIBLE
        CONTROL "", DLGITEM_SAMPLE, 170, 16, 70, 34, "CanyonColorWheelSample", WS_GROUP |
                WS_VISIBLE
        CONTROL "", 65535, 260, 0, 2, 111, WC_STATIC, SS_FGNDRECT | WS_GROUP |
                WS_VISIBLE
        CONTROL "About", DLGITEM_ABOUT, 272, 82, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
                BS_DEFAULT | WS_TABSTOP | WS_VISIBLE
        CONTROL "Quit", DLGITEM_QUIT, 272, 62, 38, 12, WC_BUTTON, BS_PUSHBUTTON |
                WS_TABSTOP | WS_VISIBLE
        CONTROL DLG_PRESPARAM, 65535, 280, 36, 21, 16, WC_STATIC, SS_ICON |
                WS_GROUP | WS_VISIBLE
    END
END

DLGTEMPLATE DLG_ABOUT LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    DIALOG "About Color Wheel", DLG_ABOUT, 162, 54, 192, 70, FS_NOBYTEALIGN |
                FS_DLGBORDER | WS_VISIBLE | WS_CLIPSIBLINGS | WS_SAVEBITS,
                FCF_TITLEBAR
    BEGIN
        CONTROL "OK", 1, 147, 49, 40, 12, WC_BUTTON, BS_PUSHBUTTON | BS_DEFAULT |
                WS_GROUP | WS_TABSTOP | WS_VISIBLE
        CONTROL "", 65535, 142, 0, 2, 69, WC_STATIC, SS_FGNDRECT | WS_VISIBLE
        CONTROL "Color Wheel -- V1.00", 65535, 4, 56, 134, 8, WC_STATIC,
                SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE
        CONTROL "Written by Mark Florence", 65535, 4, 46, 134, 8, WC_STATIC,
                SS_TEXT | DT_CENTER | DT_VCENTER | WS_VISIBLE
        CONTROL "San Francisco Canyon Co, Inc.", 65535, 3, 34, 134, 8,
                WC_STATIC, SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
        CONTROL "2237 Union Street", 65535, 4, 24, 134, 8, WC_STATIC, SS_TEXT |
                DT_LEFT | DT_VCENTER | WS_VISIBLE
        CONTROL "San Francisco, CA 94123", 65535, 4, 14, 134, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_VCENTER | WS_VISIBLE
        CONTROL DLG_PRESPARAM, 65535, 157, 10, 22, 16, WC_STATIC, SS_ICON |
                WS_GROUP | WS_VISIBLE
        CONTROL "(415) 441-2745 - Fax 441-2513", 65535, 4, 4, 133, 8, WC_STATIC,
                SS_TEXT | DT_LEFT | DT_VCENTER | WS_GROUP | WS_VISIBLE
    END
END
